.LogInForm {
    color: var(--text-sceneryColor);
    display: inline-block;
}

.LogInForm label {
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.LogInForm label p {
    font-size: 15px;
    margin: 0px;
}

.LogInForm input {
    height: 25px;
    border-radius: 5px;
    width: 250px;
}

.LogInFormButton {
    background-color: orange;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.LogInFormButton:hover {
    background-color: #1e1b1b;
    color: orange;
}

.LogInFormButton:disabled {
    background-color: gray;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.LogInForm .inputError {
    font-size: 12px !important;
    color: red;
}

.LogInForm .PasswordInputDiv {
    position: relative;
}

.LogInForm .forgotPasswordLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.LogInForm .forgotPasswordLink:hover {
    color: white;
}