.SignUpForm {
color: var(  --text-sceneryColor);
}

.SignUpForm label {
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.SignUpForm label p {
    font-size: 15px;
    margin: 0px;
}

.SignUpForm input {
    height: 25px;
    border-radius: 5px;
    width: 100%;
}

.signUpFormButton{
    background-color: orange;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.signUpFormButton:hover {
    background-color: #1e1b1b;
    color: orange;
  }

  .signUpFormButton:disabled{
    background-color: gray;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.SignUpForm .inputError{
    font-size: 12px !important;
    color: red  ;
}
