.PopUpLogin {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.PopUpLogin .popUpIcon {
    color: orange;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.PopUpLogin .popUpIcon:hover {
    color: white;
};
