.ResetPasswordModalForm input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    height: 25px;
    border-radius: 5px;
}

.changePassButton {
    background-color: orange;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.changePassButton:hover {
    background-color: #1e1b1b;
    color: orange;
}

.changePassButton:disabled {
    background-color: gray;
    color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.ResetPasswordModalForm .errorMessage{
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.ResetPasswordModalForm .invalid {
    border: 1px solid red;
  }