.AuthContainer .AuthPageHeader{
    color:var(--text-sceneryColor);
}

.AuthContainer .changeForm{
    cursor: pointer;
    color: orange;
    font-size: 14px;
    text-decoration: underline;
}

.AuthContainer .changeForm:hover{
    color: white;
}
