.Nav nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-right: 5%;
  height: 50px;
}

.NavHeader {
  cursor: pointer;
}

.AuthButton {
  border-radius: 30px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

